:root{
    --color1:#f9d423;/*Color de la primera letra*/
    --color2:#ede574;
    --color3:#e1f5c4;/*Color del texto*/
    --color4:#add6bc;/*Pie de página*/
    --color5:#79b7b4;/*Encabezado*/
}
/*Resetear estilos:*/
*{margin:0;padding:0;}

/*header de la página principal*/
header{
    background-color: var(--color5);
    padding-top:50px;
    padding-bottom:25px;
    color: var(--color3);
    text-align: center;
    font-size: 2em;
}
h1::first-letter{
    font-size: 2.5em;
    color: var(--color1);
}

/*footer de la página*/
footer{
    padding-top:25px;
    padding-bottom:25px;
    background-color: var(--color4);
    color: var(--color3);
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*clear:both;*/
}
footer div{
    font-weight: bold;
    flex-grow: 1;
}
footer address{
    flex-grow: 2;   
}
footer address em{
    text-decoration:underline;
}

/*main de la web*/
main{
    display: flex;
    flex-direction: row;
}
main div{
    /*width:200px;*/
    height:400px;
    margin:5px;
    flex-grow: 1;
    /*float: left;*/
}
main div:nth-child(1){
    background-color: var(--color1);
}
main div:nth-child(2){
    background-color: var(--color2);
}
main div:nth-child(3){
    background-color: var(--color3);
}
main div:nth-child(4){
    background-color: var(--color4);
}
main div:nth-child(5){
    background-color: var(--color5);
}
