*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: burlywood;
    font-style: italic;
}

form{
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex; 
    margin: 0 auto;
}
fieldset{
    width: 100%;
}
div{
    padding: 3px;
    display: flex;
    flex-direction: column;
}
input[type="radio"], input[type="checkbox"]{
    accent-color: #4caf50;
}
input[type="submit"], input[type="reset"]{
    color: #fff;
    background-color: #4caf50;
    padding: 8px;
    margin-top: 7px;
    border-radius: 4px;
    width: 90px;
}
input[type="color"]{
    width: 30px;
}
input[type="number"]{
    width: 60px;
}